In [1]:
%pylab inline
%config InlineBackend.figure_format = 'retina'
style.use('dark_background')
from IPython.display import clear_output
from copy import copy, deepcopy
from tqdm import tqdm_notebook as tm
from tqdm import trange
from glob import glob
import os
import sys

Populating the interactive namespace from numpy and matplotlib

In [2]:
import pandas as pd
import pandas.io.sql as psql
import kts
from kts import *
features.define_in_scope(globals())
helpers.define_in_scope(globals())

In [3]:
@helper
def get_conn():
    import psycopg2 as pg
    return pg.connect("dbname=vk_data user=vk_parser password=WegEWWXfedLf2YbS host=13.84.188.132")

In [4]:
@helper
def run_sql(query):
    import pandas.io.sql as psql
    res = psql.read_sql(query, get_conn())
    try:
        return res.set_index('uid')
    except:
        import warnings
        warnings.warn("[run_sql] UID wasn't selected, default index used")
        return res

In [5]:
@helper
def get_uid():
    return run_sql(f"SELECT uid FROM users WHERE data_loaded")

## Define new range of train indices
### Default

In [12]:
train = get_uid()
train.head()

Empty DataFrame
Columns: []
Index: [14192721, 16351036, 45075087, 18262722, 57708503]

### SQL-based

In [14]:
train = run_sql(f"SELECT uid FROM users WHERE data_loaded AND uid%2=0")
train.head()

Empty DataFrame
Columns: []
Index: [16351036, 18262722, 349819176, 95259442, 26891904]

### Manual

In [16]:
train = pd.DataFrame({'uid': range(0, 1000, 7)}).set_index('uid')
train.head()

Empty DataFrame
Columns: []
Index: [0, 7, 14, 21, 28]

## Replace old train set with a new one

In [ ]:
# i = "something_describing_old_train_set"
# old_train = kts.load('train')
# kts.save(old_train, 'old_train_{i}')
# kts.rm('train')
# kts.save(train, 'train')