In [1]:
%pylab inline
%config InlineBackend.figure_format = 'retina'
style.use('dark_background')
from IPython.display import clear_output
from copy import copy, deepcopy
from tqdm import tqdm_notebook as tm
from tqdm import trange
from glob import glob
import os
import sys

Populating the interactive namespace from numpy and matplotlib

In [2]:
import pandas as pd
import kts
from kts import *
features
helpers
features.define_in_scope(globals())
helpers.define_in_scope(globals())
train = kts.load('train')

[photo_urls, embeddings, has_embedding, hate_index, is_leader_v1]

[get_df_input, run_sql, get_uid, get_photo_urls, download_img, write_embedding, get_embedding, get_conn, compute_hate_index]

In [22]:
list_of_leaders = pd.read_csv('../input/ListOfLeaders.csv', index_col=0)
kts.save(list_of_leaders, 'list_of_leaders')

In [28]:
@preview(train, [1000])
def is_leader_v1(df):
    res = stl.empty_like(df)
    list_of_leaders = kts.load('list_of_leaders')
    res['is_leader'] = df.index.isin(list_of_leaders['uid'])
    return res.astype(int)

           is_leader
uid
311546938          1
296370791          0
305944914          0
299988557          0
313685503          0
301059313          0
316323960          1
307714904          0
326498214          0
306152119          1
327426072          0
331561212          0
346090040          0
338715072          1
347181232          1
354182333          0
344187978          1
355056237          0
350950437          0
355464403          0
352712939          0
359033264          0
357319059          0
364681998          1
358315043          1
367759134          0
368813023          0
386593213          0
383953454          1
397713086          0
...              ...
100496150          0
10375336           0
12258112           0
299680226          1
5576711            1
30439188           0
35240863           0
1684409            0
1443233            1
107088376          1
141915376          0
2810235            1
360877610          1
80095874           1
4789961            0
251643337          0
152864             1
13503670           0
19955165           0
455525             0
2422749            0
46589678           1
926481             0
17224458           0
42843451           1
526876925          1
2750819            0
31892961           1
5280812            0
7233578            0

[1000 rows x 1 columns]

In [30]:
# @preview(train, [1000])
@register
def is_leader_v1(df):
    res = stl.empty_like(df)
    list_of_leaders = kts.load('list_of_leaders')
    res['is_leader'] = df.index.isin(list_of_leaders['uid'])
    return res.astype(int)

In [12]:
# @preview(train, [1000])
@register
def leader_type_v0(df):
    """
    Assign random type
    """
    np.random.seed(42)
    res = stl.empty_like(df)
    list_of_leaders = kts.load('list_of_leaders')
    res['is_leader'] = df.index.isin(list_of_leaders['uid'])
    res['leader_type'] = np.random.randint(3, size=res.shape[0])
    return res[['leader_type']].astype(int)